<!--
  Hoplite
  Copyright (c) 2011 Blue Static
  
  This program is free software: you can redistribute it and/or modify it
  under the terms of the GNU General Public License as published by the Free
  Software Foundation, either version 3 of the License, or any later version.
  
  This program is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
  more details.
 
  You should have received a copy of the GNU General Public License along with
  this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!-- Tested with PHPUnit 3.5.5 -->
<phpunit backupGlobals="FALSE"
         backupStaticAttributes="FALSE"
         colors="TRUE">

    <testsuites>
        <testsuite name="Hoplite Unit Tests">
            <directory suffix="_test.php">./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <directory>./</directory>  <!-- Don't get coverage for test files. -->
        </blacklist>
    </filter>

    <logging>
        <log type="coverage-html" target="./unittest_coverage" yui="TRUE" highlight="TRUE"/>
    </logging>
</phpunit>
